# Ignore pre-precessed Data
d02_intermediate

# Ignore thepersonnal login information
src/log.py
.vscodde

# Ignore cache
*/*/__pycache__
*/__pycache__

# Ignore  in developement
env
data
src/model_NLP
