# Ignore pre-precessed Data
d02_intermediate

# Ignore thepersonnal login information
src/log.py

#Ignore Useless
.vscode
/notebook

# Ignore cache
*/*/__pycache__
*/__pycache__

# Ignore  for save git
data/d02_intermediate
data/d03_cleaned_data
data/visualisation_cache
env 
